body {
  font-family: sans-serif;
  margin: 20px;
}

body.paused {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

#slide {
  display: block;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

#slide_elements {
  display: grid;
  grid-area: 1/1;
}

#slide_elements > * {
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
  max-width: 100%;
}

#slide_elements > .active {
  opacity: 1;
  visibility: visible;
}

#slide {
  display: grid;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px auto;
  max-width: 800px;
  background: #000;
}

#slide_controls {
  grid-area: 1/1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#slide_controls button {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#slide_thumb {
  display: flex;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

#slide_thumb > span {
  flex: 1;
  display: block;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  margin: 5px;
  border-radius: 4px;
  overflow: hidden;
  isolation: isolate;
}

#slide_thumb .thumb_item {
  display: block;
  height: inherit;
  background: #0984e3;
  border-radius: 4px;
  transform: translateX(-100%);
}

#slide_thumb .thumb_item.active {
  animation: thumb forwards linear running;
}

#slide_thumb .thumb_item.paused {
  animation-play-state: paused;
}

@keyframes thumb {
  to {
    transform: initial;
  }
}
